.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.selectedColorBox{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;

  
}

.guessColorBox{
  display: flex;
  justify-content: center;
  align-items: center;

}

.guessColorBox_div{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

.overlaytext{
  color: white; 
  mix-blend-mode: difference;
}

.myCard{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}
.visited_by_player1{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  background-color: #1C8D73;
  font-size: 14px;
}
.visited_by_player2{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  background-color: #E07C24;
  font-size: 14px;
}


.nonVisited{
  height: 50px;
  width: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: black;
}

.visited_nodes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 14px;
}

.chota_card_1{
  border:1px solid #1C8D73;
  padding:15px;
  border-radius:5px;
  margin:5px;
}

.chota_card_2{
  border:1px solid #E07C24;
  padding:15px;
  border-radius:5px;
  margin:5px;
}